.tmf__form_note {
  margin: 7px 0;
  padding: 5px 10px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  background: #efefef;
}

.tmf__form_note--warning {
  border-color: #cc6;
  background: rgb(240, 238, 164);
  font-weight: bold;
}

.tmf__form_note--error {
  padding-top: 7px;
  border-color: #d55;
  background: #d99;
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

.tmf__form_note--fieldset {
  margin: 1em 0;
  padding: 18px 18px;
  border-radius: 2px;
  background-color: #fcfcfa;
}
